.footer-wrapper {
  width: 100%;
  background-color: var(--mainColor);
  color: var(--secondaryColor);
  padding: 1rem 0;
  text-align: center;
  scroll-snap-align: end;
  height: 5vh;
  font-family: var(--fontSecond);
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.footer-button-up {
  margin-bottom: 0.5rem; /* Adjust margin for better spacing */
}

.footer-button-up button {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  background-color: var(--mainColor);
  color: var(--secondaryColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footer-button-up i {
  font-size: 1.5rem;
  color: var(--secondaryColor);
}

.footer-copyrights {
  font-size: 1rem;
  margin: 0;
  color: var(--secondaryColor);
  text-decoration: none;
}

.footer-copyrights a {
  color: var(--white);
}
@media screen and (max-width: 1000px) {
  /* .footer-container {
    padding: 1rem;
  } */
}
