:root {
  /* colors */
  --mainColor: black;
  --secondaryColor: #f15821;
  --textColor: #eee;
  --backgroundColor: rgb(220, 220, 220);
  --backgroundColorImage: rgb(230, 230, 230);
  --cardColor: rgba(255, 255, 255, 1);
  --transparentBlackColor: rgba(0, 0, 0, 0.55);
  --transparentWhiteColor: rgba(255, 255, 255, 0.55);
  --white: hsla(0, 0%, 100%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --gray: gray;
  /* fonts */
  --fontMain: "Anton", "Bebas Neue", "Oswald", sans-serif;

  --fontFamily-dm_sans: "DM Sans", sans-serif;
  /* font size */
  --fontSizePc: 2rem;
  --fontSizePhone: 1.5rem;
  --lineRadius: 15px;
  --phonewidth: 100%;
  --compwidth: 100%;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--fontFamily-main);
}

*::-webkit-scrollbar {
  width: 0;
  height: 8px;
  background-color: var(--mainColor);
  color: var(--backgroundColor);
}
*::-webkit-scrollbar-thumb {
  width: 4px;
  color: var(--mainColor);
}

.App {
  text-align: center; /* 
  background-color: var(--mainColor); */
  background-image: url("./images/naslovnica.png");
  background-color: black; /* Set background to black */
  background-size: contain; /* Keeps original image size */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}
