:root {
  /* colors */
  --mainColor: black;
  --secondaryColor: #f15821;
  --textColor: #eee;
  --backgroundColor: rgb(220, 220, 220);
  --backgroundColorImage: rgb(230, 230, 230);
  --cardColor: rgba(255, 255, 255, 1);
  --transparentBlackColor: rgba(0, 0, 0, 0.55);
  --transparentWhiteColor: rgba(255, 255, 255, 0.55);
  --white: hsla(0, 0%, 100%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --gray: gray;
  /* fonts */
  --fontMain: "Anton", "Bebas Neue", "Oswald", sans-serif;

  --fontSecond: "Oswald", sans-serif;
  /* font size */
  --fontSizePc: 2rem;
  --fontSizePhone: 1.5rem;
  --lineRadius: 15px;
  --phonewidth: 100%;
  --compwidth: 100%;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--fontFamily-main);
}

*::-webkit-scrollbar {
  width: 0;
  height: 8px;
  background-color: var(--mainColor);
  color: var(--backgroundColor);
}
*::-webkit-scrollbar-thumb {
  width: 4px;
  color: var(--mainColor);
}

.App {
  /* 
  text-align: center;
  background-image: url("./images/naslovnica.png"); */
  background-color: black; /* Set background to black */ /* 
  background-size: contain; /* Keeps original image size */ /* 
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat; */

  /* Special Fix for iOS (Safari Only)
  @supports (-webkit-touch-callout: none) {
    background-attachment: fixed;
    background-size: contain; 
  }

  min-height: 100vh; */ /* Ensures the full viewport height is always covered */
}

.main-wrapper {
  height: auto;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.main-container {
  padding: 1rem;
  margin: auto;
  width: 100%;
  max-width: 1200px;
}
.main-container h1 {
  color: var(--secondaryColor);
  font-size: 7rem;
  font-weight: 100;
  font-family: var(--fontMain);
  line-height: 1.2;
  margin-bottom: 2rem;
}

.right {
  text-align: right;
}
@media screen and (max-width: 1000px) {
  .main-container h1 {
    font-size: 4rem;
  }
}
a {
  text-decoration: none;
}
